.toggle-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  &__toggle {
    // background-color: rgba($color: #3f3f3f, $alpha: 0.8);
    // color: #fff;
    & + & {
      // border-left: 1px solid #3f3f3f;
    }
    &:hover, &.active {
      // background-color: rgba($color: #fff, $alpha: 0.8);
      // color: #3f3f3f;
    }
    &__label {
      display: inline-block;
    }
    &__input {
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }
  }
}