.account {
  &-information {
    display: grid;
    grid-template-columns: 1.2fr 0.9fr 0.9fr;
    grid-gap: 2em;
    &__title {
      font-size: 14px;
      letter-spacing: 1.4px;
      font-weight: bold;
      color: $primary-color;
      margin: 0 0 25px 0;
    }
    &__contact {
      font-weight: 300;
      font-size: 14px;
      color: #000;
      letter-spacing: 1.4px;
      display: flex;
      align-items: center;
      p {
        margin: 0;
        &+ p {
          margin-top: 10px;
        }
      }
      .icon {
        margin-inline-end: 20px;
      }
    }
    .icon {
      width: 55px;
      height: 59px;
      background-color: #000;
    }
  }
  &-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 155px;
    border: 1px solid #eee;
    background-color: #fff;
    &:hover {
      text-decoration: none;
      background-color: rgba(#000, 0.12);
    }
    .icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin: 0 auto 15px;
    }
    span {
      color: #232323;
      letter-spacing: 1.4px;
      font-weight: 300;
      font-size: 14px;
    }
  }
}