.login {
  .page__content {
    max-width: 670px;
  }
  &__form-wrapper {
    background-color: #eee;
  }
  &__form {
    margin: 0 auto;
    padding: 0 4em 3em;
  }
  .form__input-group {
    + .form__input-group {
      margin-top: 2em;
    }
  }
  .form__actions {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: center;
    align-items: center;
  }
  .form__action {
    & + .form__action {
      margin-top: 1em;
    }
    &__link {
      color: #171252;
      text-transform: uppercase;
    }
    &--register, &--forgot {
      text-transform: none;
      font-size: 20px;
      color: #4a4a4a;
      font-weight: 300;
    }
    &--forgot {
      color: #171252;
    }
  }
}
