.overlapping-title .page {
  &__banner {
    widows: 100%;
    height: 200px;
    background-color: #0f0a51;
  }
  &__title {
    color: #4a4a4a;
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 31px;
    text-align: center;
    line-height: 100px;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
  }
  &__content {
    position: relative;
    top: -100px;
    z-index: 1;
    background-color: #fff;
  }
}

.register {
  &__form-wrapper {
    background-color: #eee;
  }
  &__form {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3em;
  }
}
