.grid {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  // align-items: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  &--2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-end {
    align-self: flex-end;
  }
}
