.profile-tabs {
  background-color: #fff;
  margin: 0 auto -90px;
  position: relative;
  top: -90px;
  z-index: 1;
  padding-bottom: 45px;

  &-wrapper {
    background-color: $secondary-color;
    padding-bottom: 145px;
  }

  &-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid rgba(#000, 0.12);
    text-transform: uppercase;
    font-size: 18px;
    color: #4a4a4a;
    a {
      font-weight: 300;
      padding: 0 30px;
      &.active {
        border-bottom: 1px solid $primary-color;
        color: $primary-color;
      }
      &:hover {
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
  // &-content {
  //   padding: 45px 50px;
  // }
}