.contact {
  &__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    text-align: left;
  }

  &__details {
    padding-left: 2em;
    width: 60%;
    list-style: none;
    font-size: 27px;
    width: 100%;
  }
  &__detail {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    & + & {
      margin-top: 1.5em;
    }
    &__text {
      margin: 0;
    }

    .icon {
      margin-right: 20px;
    }
  }
  &__name {
    width: 60%;
    font-size: 40px;
  }
  &__form-wrapper {
    background-color: #f5f5f5;
    padding: 9em 0;
  }
  &__form {
    max-width: 80%;
    margin: 0 auto;
    &__section {
      margin-bottom: 2em;
    }
  }
}

.contact__form textarea.form__input {
  height: 206px;
}
.form {
  font-size: 17px;
  &__input {
    margin-top: 0.3em;
    padding: 0 0.5em;
    border: 2px solid rgba($color: #101011, $alpha: 0.2);
    width: 100%;
    font-size: 14px;
    line-height: 3;
  }
  &__label {
    font-weight: bold;
  }
  &__actions {
    margin-top: 3em;
    text-align: center;
  }
  &__action {
    margin: 0;
    &.btn {
      text-transform: uppercase;
      background: transparent;
      line-height: 2.5;
      padding: 0 1.4em;
      background-color: #171252;
      color: #fff;
      border-color: #171252;
      &:hover {
        background: #fff;
        color: #171252;
      }
    }
  }
}

.contact__form .form {
  &__actions {
    text-align: right;
  }
  &__action {
    color: #171252;
    background: transparent;
    border: 2px solid rgba($color: #101011, $alpha: 0.2);
    &:hover {
      background: #171252;
      color: #f5f5f5;
    }
  }
}
