.banner {
  height: 743px;
  .slider__slide-content {
    height: 743px;
  }
  .slick-prev {
    left: 25px;
    z-index: 1;
  }
  .slick-next {
    right: 25px;
  }
  .slick-arrow {
    width: 40px;
    height: 40px;
    &:before {
      font-size: 40px;
      opacity: 0.4;
    }
    &:hover,
    &:active {
      &:before {
        opacity: 0.8;
      }
    }
  }
}

.services {
  &__title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 36px;
    color: #282828;
    font-weight: normal;
  }
}
.services .card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 260px;
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.7s ease;
  }
  &__content {
    position: relative;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.7s ease;
  }
  &:hover { 
  &:before, .card__content {
    opacity: 1;
    z-index: 2;
  }
}
  &__title, &__subtitle {
    color: #fff;
    white-space: unset;
    max-width: 100%;
  }
}
.services {
  padding: 80px 0;
}
