.card {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #8c8c8c;
  &__content {
    padding: 1em 0.6em 0.6em;
    &__header {
      position: relative;
    }
  }
  &__title,
  &__subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    max-width: 90%;
  }
  &__title {
    color: #625a52;
    font-size: 16px;
    line-height: 2;
  }
  &__star {
    position: absolute;
    top: 0.5em;
    right: 0;
  }
  &__subtitle {
    font-size: 14px;
    color: #8c8c8c;
  }
  &__misc {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1.4em;
  }
  &__extra {
    color: #949599;
    width: 44%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    &__wrapper {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
      & + & {
        margin-left: 20px;
      }
    }
    &__label {
      font-size: 14px;
      line-height: 2;
      text-transform: uppercase;
    }
    &__value {
      font-size: 24px;
    }
  }
  &__price-wrapper {
    width: 56%; 
    text-align: right;
    display: flex;
    flex-flow: column;
    color: #c49d58;
  }
  &__price {
    font-size: 24px;
    // text-align: left;
  }
  &__price-unit {
    font-size: 12px;
    // text-align: right;
    text-transform: uppercase;
    line-height: 2;
  }
}
