.user {
  &-banner {
    background-color: $primary-color;
    min-height: 385px;
    padding: 60px 0 145px;
    > .container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      color: #fff;
    }
  }
  &-info {
    display: flex;
    align-items: center;
  }
  &-avatar {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    margin-inline-end: 50px;
    > img {
      max-width: 100%;
      vertical-align: top;
    }
  }
  &-details {
    > h1 {
      font-size: 24px;
      margin: 0 0 15px 0;
    }
    > small {
      font-size: 14px;
      color: rgba(#fff, 0.5);
    }
    > button {
      display: block;
      background-color: rgba(#fff, 0.12);
      border: none;
      margin-top: 15px;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      padding: 0 30px;
      &:hover {
        background-color: rgba(#fff, 0.05);
      }
    }
  }
  &-belongings {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      margin-bottom: 15px;
    }
    p {
      display: inline-block;
      margin: 0 0 0 15px;
      vertical-align: middle;
      font-size: 12px;
      letter-spacing: 1.1px;
    }
    &__value {
      background-color: rgba(#fff, 0.12);
      width: 25px;
      height: 25px;
      line-height: 25px;
      border-radius: 50%;
      overflow: hidden;
      text-align: center;
    }
  }
}