.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  // padding: 10px;
  &__logo {
    margin: 0;
    max-width: 180px;
    > a {
      max-width: 100%;
      > img {
        max-width: 100%;
      }
    }
  }
  &__nav {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__nav-link {
    color: #3f3f3f;
    font-size: 16px;
    line-height: 3;
    & + & {
      margin-left: 0.5em;
    }
    > a {
      border-top: 2px solid transparent;
      line-height: 70px;
      padding: 0 1em;
      display: block;
      &.active {
        color: #171252;
        border-top-color: #171252;
      }
    }
  }
  &__actions {
    color: #171252;
    .btn {
      padding: 0 1.5em;
      font-size: 15px;
      height: 100%;
      display: block;
      line-height: 2.5em;
      border-color: rgba($color: #171252, $alpha: 0.12);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
