.yachts__grid {
  margin: 4em 0;
}

.yachts-search > .filters {
  background-color: #0f0a51;
}
.filters {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    color: #fff;
    font-size: 14px;
  }
  &__result {
    width: 15%;
    &__text {
      color: #ccc;
    }
  }
  &__price-range {
    margin: 0 4em 0 2em;
    width: 55%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &__title {
      white-space: nowrap;
    }
    &__slider {
      margin-left: 2em;
    }
  }
  &__toggle {
    .toggle-group__toggle {
      &:hover,
      &.active {
        background-color: #030225;
      }
      &__label {
        padding: 2em 1.5em;
      }
    }
    width: 30%;
  }
  .rc-slider-tooltip-content {
    .rc-slider-tooltip-inner {
      background-color: transparent;
    }
    .rc-slider-tooltip-arrow {
      display: none;
    }
  }
}
