footer {
  color: #fff;
  background-color: #171252;
  & > .container {
    padding: 50px 0 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.footer {
  &__modlo {
    max-width: 400px;
    &__description {
      font-size: 16px;
      color: #cccccc;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row nowrap;
    &__section {
      margin-left: 6em;
    }
    &__title {
      margin: 0 0 40px 0;
      font-size: 18px;
      font-weight: normal;
      white-space: nowrap;
    }
    &__links {
      list-style: none;
    }
    &__content {
      font-size: 16px;
      color: #cccccc;    
    }
    &__link {
      line-height: 2;
      &:hover > a {
        text-decoration: underline;
      }
    }
    &__actions {
      margin-top: 50px;
      .btn {
        font-size: 16px;
        line-height: 3.3em;
        padding: 0 1.3em;
        background-color: transparent;
        border-width: 1px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__copyrights {
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    & > .container  {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    &__text {
      margin: 0;
      font-size: 16px;
    }
    &__icons {
      .icon + .icon {
        margin-left: 15px;
      }
    }
  }
}
