.table {
  width: 100%;
  td {
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    img {
      width: 60px;
      height: 45px;
    }
  }
  thead {
    display: none;
  }
  tr {
    & + tr {
      td {
        border-top: 1px solid #dee1e2;
      }
    }
  }
}
