* {
  box-sizing: inherit;
}
html,
body {
  min-height: 100%;
  box-sizing: border-box;
  line-height: 1.6;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  &:hover {
    text-decoration: underline;
  }
}

button, .btn {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: #fff;
  border: 2px solid currentColor;
  &--round {
    border-radius: 1.3em;
  }
}

.error {
  color: #d91414;
  font-size: 14px;
  margin: 0;
  vertical-align: bottom;
}

@import "config/*.scss";
@import "components/**/*.scss";
@import "pages/**/*.scss";
// @import "../node_modules/slick-carousel/slick/slick.css";
// @import "../node_modules/slick-carousel/slick/slick-theme.css";
