.properties__search {
  display: flex;
  flex-flow: row nowrap;
  &__button {
    border-width: 1px;
    background-color: #161152;
    border-color: #161152;
    color: #fff;
    padding: 0 2em;
    margin-left: -1px;
    &:hover {
      color: #161152;
      background-color: #fff;
      // border-left: none;
      // border-color: #fff;
    }
  }
  &__input {
    font-size: 18px;
    width: 620px;
    padding: 0.6em;
    line-height: 2em;
  }
}
.properties .toggle-group {
  &__toggle {
    background-color: rgba($color: #3f3f3f, $alpha: 0.8);
    color: #fff;
    & + & {
      border-left: 1px solid #3f3f3f;
    }
    &:hover,
    &.active {
      background-color: rgba($color: #fff, $alpha: 0.8);
      color: #3f3f3f;
    }
    &__label {
      padding: 1em 2em;
    }
  }
}

.rc-slider-tooltip-inner {
    background: transparent;

}

.custom-search-handle {
    position: absolute;
}

.custom-search-handle__text {
    position: absolute;
    top: -24px;
    left: -10px;
}